body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageContent{
  font-family: 'Outfit', sans-serif;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 6%;
  padding-left:5%;
  padding-right:5%;
}
.newDay {
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 5%
}

.receiptTitle {
  text-align: left;
  margin-bottom: 1%;
  padding-bottom: 2%;
}

.tablePadding {
  padding-left: 0%;
  padding-right: 10%;
}

.receiptInfo{
  width:100%;
  text-align: left;
  padding-left:1%;
  padding-bottom:10%;
  border-collapse:collapse;
  border-spacing:0;
  border-radius:1%;
  box-shadow:
  6px 5px 5px 5px
  rgb(227, 227, 227);
  border-radius:5px;
  line-height: 35px;
}

.receiptDate {
  width: 10%;
  text-align: left;
  border-top: white;
}

.receiptStore {
  width:30%;
  text-align: left;
}

.receiptPrice {
  width:10%;
  text-align: left;
}

.navBar {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}

.link{
  padding: 4%;
  text-decoration:none; 
  color: black;
}

#homeLink{
  font-weight:bold;
  text-align: left;
  padding-left: 3%;
}

.QRCode{
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}

.receiptButton{
  width:100%;
  align-items: left;
}

.receiptButtonButton{
  position: absolute;
  top:50%;
  right: 0;
  width: 120px;
  transform: translateY(40%);
  padding: 3;
}

.QRGoBack{
  position: absolute;
  right:    5%;
  bottom:   5%;
}

.QRCodeIcon{
  color: white;
}

.buttonSpacing{
  padding: 3%;
}

.searchSymbol{
  width:8%;
  padding-right: 2%;
  transform: translateY(33%);
}

.buttonSpacing1{
  padding-right: 10%

}

.buttonSpacing2{
  padding-right: 10%
}


